<h1 style="text-align:center">About Doggy Daycare</h1>

<p style="text-align:center">We are located at</p> 
<p style="text-align:center">2917 Magazine Street</p> 
<p style="text-align:center">New Orleans, LA 70115</p>
<br>
<br>

<p>We are located in the Magazine </p>
<p>Commons Shopping Center,</p> 
<p>right next to C.C.'s Coffee.</p>
<br>
<p>HOURS OF OPERATION:</p>
<p>Mon-Sun (6:00 AM - 9:30 PM)</p>
<p>PHONE:</p>
<p>(504) 891-2115</p>
<br>
<br>

<%= link_to 'Back to Doggy Daycare', pages_index_path, class: "btn btn-success" %>