<br>
<br>
<div class="jumbotron">
  <h1 class="display-3" style="text-align:center">DOGGY DAYCARE</h1>
  <p class="lead">Welcome to Doggy Daycare where we treat your dogs like our own.</p><p> We are excited to be of service for the entire New Orleans area.</p><p> At Dog Daycare, we strive to know every dog by name and treat</p><p> them like they are one of our own family members. </p>
</div>

<div class="container-fluid">
  <div class="row features">
    <div class="col-md-4">
      <img src="https://hd.unsplash.com/photo-1455757618770-0a58b0b28ebd" alt="dog in swing" class= "img responsive"> 
      <p> All the cutest dogs come to Doggy Daycare!! 
      </p>  
    </div>
    

    <div class="col-md-4">
        <img src="https://hd.unsplash.com/18/pups.JPG">
        <p>Look how happy these dauschunds are!!
        </p>
    </div>

    <div class="col-md-4">
        <img src="https://hd.unsplash.com/photo-1456087468887-17b7d7b076e0">
        <p> And this is how excited dogs are to be at Doggy Daycare!!
        </p>
    </div>

  </div>


<br>


<%= link_to 'About Doggy Daycare', pages_about_path, class: "btn btn-success" %>
